ul{
    display: flex;
    align-items: center; 
    gap: 45px;
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
}

ul{
    gap: 55px;
}

ul li{
    list-style: none;

}

.container{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKmkLx36UV1nBuG9U7U1Lx_qhs_nyuCCGBpw&s");
    width: 100%;
    height: 89vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.child{
    background-color: rgba(216, 112, 147, 0.62);
    width: 100%;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.enjoy{
    color: white;
    font-size: 45px;
    text-align: center;
}

button{
    border: none;
    padding: 10px;
    width: 150px;
    border-radius: 15px;
    margin-left: 170px;
}